<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.thomasuster"  >
    <application>
        <service android:name=".ExtensionDownloaderService" />
        <receiver android:name=".DownloaderReceiver" />
    </application>
</manifest>